<mat-card>
	<mat-toolbar>CONTACT US</mat-toolbar>
	<div class="contactus-content">
		Currency converter is free of cost.If you have account login or else create a new account and get the service.
	</div>
	<mat-grid-list cols="3">
		<mat-grid-tile colspan="1">
			<!-- <img src="../assets/images/pf2.jpg" class="profilepic"> -->
		</mat-grid-tile>
		<mat-grid-tile colspan="1">
			<!-- <ul class="founderlist">
				<li>Bhuvana Malini<li>
				<li>PRODUCT ENGINEER</li>
				<li>CODINGMART TECHNOLOGIES</li>
			</ul> -->
		</mat-grid-tile>
	</mat-grid-list>
</mat-card>

