
<div style="text-align:center" class="main-class">
    <mat-toolbar color="primary"><h2>{{title}}</h2></mat-toolbar>
    <mat-toolbar-row color="primary">
    	<mat-grid-list cols="5" rowHeight="2:1">
		  <mat-grid-tile><a [routerLink]="['routerexamplesamepage']">ABOUT US</a></mat-grid-tile>
		  <mat-grid-tile><a [routerLink]="['secondpage']">CONTACT US</a></mat-grid-tile>
		  <mat-grid-tile><a [routerLink]="['login']">LOGIN</a></mat-grid-tile>
		  <mat-grid-tile><a [routerLink]="['register']">REGISTER</a></mat-grid-tile>
		  <mat-grid-tile><a [routerLink]="['/']">BACK</a></mat-grid-tile>
		</mat-grid-list>
    </mat-toolbar-row>
	<!-- <app-popup>
	 	
	</app-popup> -->
	<router-outlet></router-outlet>
