<!-- <div>
	<h1 md-dialog-title>new component(MyDialogComponent)</h1>
	<md-dialog-content>
		this content is coming from my-dialog component.html
		<br><br>
	</md-dialog-content>
	<md-dialog-actions>
		<button md-button-raised (click)="CloseCancel()">Cancel</button>
	</md-dialog-actions>
</div> -->
<md-grid-list cols="5">
  <md-grid-tile colspan="2" rowspan="1" style="background-color: yellow">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </md-grid-tile>
  <md-grid-tile colspan="3" rowspan="1" style="background-color: pink">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </md-grid-tile>
</md-grid-list>
<!-- <h1>Row</h1>
    <div fxLayout="row" fxLayoutAlign="center center" class="row-example">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
    <h1>Column</h1>
    <div fxLayout="column" fxLayoutAlign="center stretch" class="column-example">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div> -->